<h1>About Us</h1>
<div style="display: flex; justify-content: space-evenly; align-items:center" >
  <div style="width: 30%; color: black">
    <h3>Welcome to the Jungle</h3>
    <p>All fun, <b>no games!</b></p>
    <p>Projections say nearly 2 billion people are expected to purchase goods and services online this year. It is our
      business to offer you affordable"ish" items that you can throw away in a couple of weeks! <br>Anways as you came all the
      way over here let me share a joke with you <em>(cheers to Francis Bourgouin)</em>
    </p>
    <p>
      What does the new Chips Ahoy marketing director do her first day on the job?<br>
      <b>Enable cookies.</b>
    </p>
  </div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/kjt-aYQO5zA?controls=0" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
</div>